// .main-container{
//     width: 100%;
//     height: 100vh;
//     background-image: linear-gradient(0, white,  rgba(222, 219, 219, 0.749)), url(../assets/images/desktop/Background-home.png);
//     background-size: 100%;
// }