@use "../abstracts/" as *;
*{
    font-family: 'Poppins';
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    //height: pxToRem(853);
    background-image: linear-gradient(0, white,  rgba(222, 219, 219, 0.749)), url(../assets/images/desktop/Background-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // Contaiter
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: pxToRem(95);
        background-color: #f5f0f0;
        .header-container_logo{
            // margin-left: 120px;
            margin-left: 12%;
            .header-container_logo-a{
                color: black;
                display: flex;
                cursor: none;
                text-decoration: none;
                .header-container_logo-icon{
                    width: pxToRem(44);
                    height: pxToRem(44);
                }
                .header-container_logo-title{
                    margin: auto;
                    margin-left: pxToRem(14);
                    span:last-child{
                        color: blue;
                    }
                }
            }
        }
        nav{
            margin-left: pxToRem(200);
            ul{
                display: flex;
                list-style-type: none;
                width: 100%;
                li{
                    margin-left: pxToRem(40);
                }
            }
        }
        .header-container_user{
            padding-right: pxToRem(120);
            display: flex;
            align-items: center;
            img{
                visibility: hidden;
            }

            .header-container_user-login{
                margin-left: pxToRem(20);
            }
        }
        
    }
    // Main
    .header-main{
        .header-main__title--top{
            width: pxToRem(732);
            height: pxToRem(333);
            padding: pxToRem(68) 0;
            margin: 0 auto;
            text-align: center;
            .text-blue{
                color: blue;
                font-size: clamp( 3rem, 4vw, 4rem);
            }
            h1{
                font-size: clamp( 3rem, 4vw, 4rem);
            }
            p{
                margin: pxToRem(30) pxToRem(7.5);
                font-weight: 100;
            }
            button{
                width: pxToRem(189);
                height: pxToRem(50);
                border-radius: 50px;
                background-color: blue;
                color: #fff;
                display: flex;
                margin: 0 auto;
                p{
                    padding: 0;
                    margin: auto pxToRem(10) auto pxToRem(20);
                }

                img{
                    @include size(20px, 20px);
                    margin: auto 5px auto 0;
                }
            }
        }
        .header-main__image-bg--bottom{
            height: pxToRem(586);  
            margin: pxToRem(68) auto 0 auto;
            width: pxToRem(1177);
            position: relative;
            @include tablet{
                width: pxToRem(904);
                height: pxToRem(530);
            }
            .image-bg--top{
                height: pxToRem(530);
                width: 100%;
                background-image: url("./../assets/images/desktop/Background-home.png");
                background-repeat: no-repeat;
                border-radius: 12px;
                margin: 0 auto;
                display: block;
            }
            .image-bg--bottom{
                position: absolute;
                right: 0;
                margin-top: 5px;
            }
        }
    }
    // Responsive Mobile
    @include mobile{
        .header-container_menu{
            display: none;
        }
        .header-container_user {
            button{
                display: none;
            }
            img{
                visibility: visible !important;
                width: 40px;
                height: 40px;
                margin-left: 40%;
            }
            .header-container_user-language{
                padding-left: 80%;
            }
        }
        .header-main{
            .header-main__title--top{
                width: auto;

                h1 , .text-blue{
                    font-size: 2rem;
                }
                
            }
            .header-main__image-bg--bottom{
                width: auto;
                height: auto;
                .image-bg--top{
                    height: auto;
                    width: 90%;
                }
                    right: 38%;
                }
            }
        }
        
    }

    // Responsive Tablet
    @include tablet{
        .header-container {
            nav{
                margin-left: 0;
                ul li{
                    margin-left: 0;
                    padding-right: 5%;
                }
            }
            
            .header-container_user{
                padding-right: 1rem;
                img{
                    display: none;
                }
            }


            .header-container_logo{
                margin-left: 1.2rem;
            }
            .header-container_menu{
                display: block;
                width: 50%;
            }

        }
    }
}



