@use "../abstracts/variables" as *;

main{
    .text-blue{
        color: $color-main;
    }
    .Working_process{
        margin-top: 120px;
        .Working_process-title{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-family: $medium-font;
                font-weight: 600;
                margin-bottom: 20px;
            }
            p{
                font-family: $min-font;
                width: 710px;
                margin-top: 20px;
            }
            h2{
                font-size: 1.5rem;
            }
        }
    
        .Working_process-list{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 60px;
            padding: 0 10%;
            h3{
                font-family: $medium-font;
                font-weight: 600;
                margin-top: 20px;
            }
            p{
                font-family: $min-font;
                width: 344px;
                margin-top: 20px;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .Preferential--blue{
            width: 100%;
            background-color: rgba(22, 93, 245, 0.1);
            margin-top: 120px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: 2rem;
                width: 761px;
                margin-top: 70px;
                margin-bottom: 30px;
            }
            p{
                width: 717px;
                font-family: $min-font;

            }
            button{
                color: white;
                margin-top: 30px;
                display: flex;
                border-radius: 20px;
                width: 226px;
                height: 50px;
                margin-bottom: 70px;
                background-color: $color-main;
                align-items: center;
                justify-content: space-between;
                p{
                    width: auto;
                    padding-left: 25px;
                }
                img{
                    padding-right: 15px;
                }
            }
        }

        .Introduce{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 120px 0 70px 0;
            span{
                font-family: $medium-font;
                font-weight: 600;
                margin-bottom: 20px;
            }
            p{
                font-family: $min-font;
                width: 710px;
                margin-top: 20px;
            }
            h2{
                font-size: 1.5rem;
            }
        }

        .Introduction-detailed{
            display: flex;
            img{
                width: 666px;
                height: 640px;
                margin-right: 91px;
            }

            .Introduction--text{
                width: 565px;
                height: 650px;
                margin-top: 5%;
                p{
                    font-family: $min-font;
                }
                h3{
                    font-family: $medium-font;
                    font-size: 1.2rem;
                }
                .title{
                    h2{
                        font-family: $medium-font;
                        font-size: 1.8rem;
                        margin-bottom: 30px;
                    }

                }


                .Introduction-main{
                    margin-top: 86px;
                    display: flex;
                    .bar-blue{
                        width: 7px;
                        height: 80px;
                        background-color: $color-main;
                        margin-right: 20px;
                    }
                    .box{
                        h3{
                            padding-bottom: 10px;
                        }
                        .box1{
                            margin-top: 5px;
                        }
                        .box2,.box3{
                            margin-top: 34px;
                        }
                    }
                }
                
            }
        }
        .Share{
            background-color: rgba(196, 196, 196, 0.1);
            .Share--nav{
                p{
                    font-family: $min-font;
                    margin: 0 25px;
                }
                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        height: 50px;
                        margin: 0 20px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 12px;
                        background-color: rgba(22, 93, 245, 0.18);
                    }
                    .Share--nav__box1{
                        background-color: rgba(22, 93, 245, 0.6);
                    }
                }
            }
            .Share--image-nav{
                display: flex;
                justify-content: space-around;
                margin: 0 122px;
                position: relative;
                padding-bottom: 70px;
                .Image--nav__box{
                    width: 300px;
                    height: 420px;
                    padding: 17px;
                    background-color: rgba(255, 255, 255, 1);
                    img{
                        width: 100%;
                        height: 170px;
                        border-radius: 8px 0;
                    }
                    .box--text{
                        padding: 10px;
                        h2{
                            font-size: 1.5rem;
                            font-weight: 600;
                            font-family: $medium-font;
                            margin: 13px 0;
                        }
                        p{
                            font-family: $min-font;
                            color: rgba(0, 0, 0, 0.4);
                        }
                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .icon-next--right{
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    top: 50%;
                    right: -5%;
                }
            }
        }
        .ReviewCustomers{
            h2{
                font-size: 3rem;
                font-family: $medium-font;
                width: 761px;
                height: 105px;
                text-align: center;
                margin: 120px auto 80px auto;
            }
            .list-box{
                .Review--boxCustomer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .avatar--customer{
                        width: 72px;
                        margin-bottom: 20px;
                    }
                    .name--customer{
                        font-size: 1.5rem;
                        font-family: $medium-font;
                        font-weight: 600;
                    }
                    .company--customer{
                        font-family: $min-font; 
                        font-weight: 400;
                        font-size: 0.8rem;
                    }
                    .review--customer{
                        font-family: $min-font;
                        font-weight: 500;
                        width: 587px;
                        text-align: center;
                        margin: 30px 0;
                    }
                    .list--star{
                        width: 160px;
                        padding-bottom: 120px;
                    }
                }
            }
        }
    }

    
}