@use "../abstracts/" as *;


@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: PpItalic;
    src: url(../assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: PpMedium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}