<!-- Start header -->
<header>
    <div class="header-container">
        <!-- Logo -->
        <div class="header-container_logo">
            <a href="#" class="header-container_logo-a">
                <figure class="header-container_logo-icon">
                    <img src="../assets/icons/Ellipse 2.svg" alt="Logo">
                </figure>
                <span class="header-container_logo-title">
                    <span>Digital</span>
                    <span>Agency</span>
                </span>
            </a>
        </div>
        <!-- Navigation -->
        <nav class="header-container_menu">
            <ul class="header-container_menu-list">
                <li>Ana Sayfa</li>
                <li>Kurumsal</li>
                <li>Neler Yapıyoruz?</li>
                <li>Blog</li>
            </ul>
        </nav>
        <!-- Login and language -->
        <div class="header-container_user">
            <span class="header-container_user-language">EN</span>
            <button class="header-container_user-login btn">Müşteri Girişi</button>
            <img src="../assets/icons/menu.png" alt="">
        </div>
    </div>
    <div class="header-main">
        <div class="header-main__title--top">
            <h1>İşinize Uygun <span class="text-blue">Tasarım</span> Ve <span class="text-blue">Yazılımlar</span></h1>
            <p>
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
            <button type="button">
                <p>Detaylı İncele</p>
                <img src="../assets/icons/CaretDoubleRight.svg" alt="">
            </button>
        </div>
        <div class="header-main__image-bg--bottom">
            <img class="image-bg--top" src="../assets/images/desktop/Background-home.png" alt="">
            <img class="image-bg--bottom" src="../assets/icons/Frame 19.svg" alt="">
        </div>
    </div>
</header>