<main>
    <!-- Tag div 1: Working process -->
     <div class="Working_process">
        <div class="Working_process-title">
            <span>Neler <span class="text-blue">Yapıyoruz?</span></span>
            <h2>3 adımda çalışma sürecimiz</h2>
            <p>360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.</p>
        </div>
        <div class="Working_process-list">
            <div class="Working_process--1">
                <img src="../assets/icons/Group 32.svg" alt="">
                <h3>Keşif ve Planlama</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
            <div class="Working_process--2">
                <img src="../assets/icons/Group 30.svg" alt="">
                <h3>Tasarım ve Geliştirme</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
            <div class="Working_process--3">
                <img src="../assets/icons/Group 28.svg" alt="">
                <h3>Test ve Yayına Alma</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
        </div>

        <!-- Preferential -->
         <div class="Preferential--blue">
            <h2>
                Ürününüz veya hizmetiniz için en iyisini birlikte yapalım.
            </h2>
            <p>
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
            <button type="button">
                <p>HEMEN TEKLİF ALIN</p>
                <img src="../assets/icons/CaretDoubleRight.svg" alt="">
            </button>
            <!-- <div class="Preferential__button">
               
            </div> -->
         </div>


         <div class="Introduce">
            <span>Neler <span class="text-blue">Yapıyoruz?</span></span>
            <h2>Sizin için neler yapıyoruz?</h2>
            <p>360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.</p>
        </div>

        <div class="Introduction-detailed">
            <img src="../assets/images/desktop/Rectangle 10.png" alt="">
            <div class="Introduction--text">
                <div class="title">
                    <h2>
                        Sizin için neler yapabiliriz beraber bakalım.
                    </h2>
                    <p>
                        Tüm platformlarda sunduğumuz, web tasarım hizmetimiz ile ilgili bilgiler edinelim.
                    </p>
                </div>
                <div class="Introduction-main">
                    <div class="bar-blue">

                    </div>
                    <div class="box">
                        <div class="box1">
                            <div class="Introduction-main--text">
                                <h3>
                                    Web Tasarım
                                </h3>
                                <p>
                                    Var olan veya yeni kurulan işletmenizin, modern bir kurumsal kimliğe sahip olması için web sitesi.
                                </p>
                            </div>
                        </div>
                        <div class="box2">
                            <div class="Introduction-main--text">
                                <h3>
                                    Dijital Pazarlama
                                </h3>
                                <p>
                                    Web sitenizin veya işletmenizin, daha popüler hale gelmesi için çeşitli hizmetler sunuyoruz.
                                </p>
                            </div>
                        </div>
                        <div class="box3">
                            <div class="Introduction-main--text">
                                <h3>
                                    Prodüksiyon
                                </h3>
                                <p>
                                    İşletmenizin tanıtımının daha güzel hale gelmesi için, fotoğraf çekimi ve prodüksiyon yapıyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
        <!-- layout Share infomation -->
        <div class="Share">
            <div class="Introduce">
                <span>Neler <span class="text-blue">Yapıyoruz?</span></span>
                <h2>Öğreniyoruz, sizinle paylaşıyoruz.</h2>
                <p>Alanında uzman yazar arkadaşlarımızın, bilgi paylaşımı yaptıkları yazıları inceleyelim.</p>
            </div>

            <div class="Share--nav">
                <ul>
                    <li class="Share--nav__box1">
                        <p>Hepsini Gör</p>
                    </li>
                    <li>
                        <p>Web Tasarım</p>
                    </li>
                    <li>
                        <p>Kurumsal Kimlik Tasarımı</p>
                    </li>
                    <li>
                        <p>SEO</p>
                    </li>
                    <li>
                        <p>Dijital Pazarlama</p>
                    </li>
                </ul>
            </div>
            <div class="Share--image-nav">
                <div class="Image--nav__box">
                    <img src="../assets/images/desktop/Rectangle 9.png" alt="">
                    <div class="box--text">
                        <span class="text-blue">Dijital Pazarlama</span>
                        <h2>Sosyal CRM Nedir? Sosyal CRM Avantajları Nelerdir?</h2>
                        <p>Sosyal CRM, işletmelerin müşteri ilişkileri yönetimi (CRM) stratejilerini sosyal...</p>
                        <a href="" class="link--image">
                            <span>
                                Devamını Oku
                            </span>
                            <img src="../assets/icons/CaretDoubleRight.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="Image--nav__box">
                    <img src="../assets/images/desktop/Rectangle 9 (1).png" alt="">
                    <div class="box--text">
                        <span class="text-blue">Dijital Pazarlama</span>
                        <h2>Dijital PR Nedir? Dijital PR Neden Gereklidir?</h2>
                        <p>Dijital PR, sosyal medya platformları ve web siteleri üzerinden işletmelerin...</p>
                        <a href="" class="link--image">
                            <span>
                                Devamını Oku
                            </span>
                            <img src="../assets/icons/CaretDoubleRight.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="Image--nav__box mobile-hide">
                    <img src="../assets/images/desktop/Rectangle 9 (2).png" alt="">
                    <div class="box--text">
                        <span class="text-blue">Kurumsal Kimlik Tasarımı</span>
                        <h2>Dijital Ajans Nedir? Doğru Dijital Ajans Nasıl Seçilir?</h2>
                        <p>Bir dijital ajans arama motorları, e ticaret, web sitesi tasarımı gibi birçok alanda hizmet...</p>
                        <a href="" class="link--image">
                            <span>
                                Devamını Oku
                            </span>
                            <img src="../assets/icons/CaretDoubleRight.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="Image--nav__box box-hide mobile-hide">
                    <img src="../assets/images/desktop/Frame 10.png" alt="">
                    <div class="box--text">
                        <span class="text-blue">Dijital Pazarlama</span>
                        <h2>Online İtibar Yönetimi Nedir?</h2>
                        <p>Online itibar yönetimi, markanızla dijital dünyada ortaya çıkan algıyı profesyonel şekilde yönetmek...</p>
                        <a href="" class="link--image">
                            <span>
                                Devamını Oku
                            </span>
                            <img src="../assets/icons/CaretDoubleRight.svg" alt="">
                        </a>
                    </div>
                </div>
                <!-- icon next -->
                <img src="../assets/icons/next-right.png" alt="" class="icon-next--right">
            </div>
        </div>
        <!-- Review of customers -->
         <div class="ReviewCustomers">
            <h2>Memnuniyetini bildiren müşterilerimiz</h2>
            <div class="list-box">
                <!-- box 1 -->
                <div class="Review--boxCustomer box-right">
                    <img src="../assets/images/desktop/Ellipse 5.png" alt="" class="avatar--customer">
                    <span class="name--customer">Jane Cooper</span>
                    <span class="company--customer">
                        The Walt Disney Company
                    </span>
                    <p class="review--customer">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac amet feugiat donec sit morbi tristique massa enim. Consequat odio adipiscing est odio nibh. Nec scelerisque hendrerit in eu purus faucibus quam. Quis commodo tortor aliquam tortor
                    </p>
                    <img src="../../../list-star.png" alt="" class="list--star">
                </div>
                <!-- box 2 -->
                <div class="Review--boxCustomer box-main">
                    <img src="../assets/images/desktop/Ellipse 5.png" alt="" class="avatar--customer">
                    <span class="name--customer">Jane Cooper</span>
                    <span class="company--customer">
                        The Walt Disney Company
                    </span>
                    <p class="review--customer">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac amet feugiat donec sit morbi tristique massa enim. Consequat odio adipiscing est odio nibh. Nec scelerisque hendrerit in eu purus faucibus quam. Quis commodo tortor aliquam tortor
                    </p>
                    <img src="../../../list-star.png" alt="" class="list--star">
                </div>
                <!-- box 3 -->
                <div class="Review--boxCustomer box-left">
                    <img src="../assets/images/desktop/Ellipse 5.png" alt="" class="avatar--customer">
                    <span class="name--customer">Jane Cooper</span>
                    <span class="company--customer">
                        The Walt Disney Company
                    </span>
                    <p class="review--customer">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac amet feugiat donec sit morbi tristique massa enim. Consequat odio adipiscing est odio nibh. Nec scelerisque hendrerit in eu purus faucibus quam. Quis commodo tortor aliquam tortor
                    </p>
                    <img src="../../../list-star.png" alt="" class="list--star">
                </div>
            </div>
         </div>
     </div>

    
</main>