<main>
    <!-- Tag div 1: Working process -->
     <div class="Working_process">
        <div class="Working_process-title">
            <span>Neler <span class="text-blue">Yapıyoruz?</span></span>
            <h2>3 adımda çalışma sürecimiz</h2>
            <p>360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.</p>
        </div>
        <div class="Working_process-list">
            <div class="Working_process--1">
                <img src="../assets/icons/Group 32.svg" alt="">
                <h3>Keşif ve Planlama</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
            <div class="Working_process--2">
                <img src="../assets/icons/Group 30.svg" alt="">
                <h3>Tasarım ve Geliştirme</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
            <div class="Working_process--3">
                <img src="../assets/icons/Group 28.svg" alt="">
                <h3>Test ve Yayına Alma</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
        </div>

        <!-- Preferential -->
         <div class="Preferential--blue">
            <h2>
                Ürününüz veya hizmetiniz için en iyisini birlikte yapalım.
            </h2>
            <p>
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
            <button type="button">
                <p>HEMEN TEKLİF ALIN</p>
                <img src="../assets/icons/CaretDoubleRight.svg" alt="">
            </button>
            <!-- <div class="Preferential__button">
               
            </div> -->
         </div>


         <div class="Introduce">
            <span>Neler <span class="text-blue">Yapıyoruz?</span></span>
            <h2>Sizin için neler yapıyoruz?</h2>
            <p>360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.</p>
        </div>

        <div class="Introduction-detailed">
            <img src="../assets/images/desktop/Rectangle 10.png" alt="">
            <div class="Introduction--text">
                <div class="title">
                    <h2>
                        Sizin için neler yapabiliriz beraber bakalım.
                    </h2>
                    <p>
                        Tüm platformlarda sunduğumuz, web tasarım hizmetimiz ile ilgili bilgiler edinelim.
                    </p>
                </div>
                <div class="Introduction-main">
                    <div class="bar-blue">

                    </div>
                    <div class="box">
                        <div class="box1">
                            <div class="Introduction-main--text">
                                <h3>
                                    Web Tasarım
                                </h3>
                                <p>
                                    Var olan veya yeni kurulan işletmenizin, modern bir kurumsal kimliğe sahip olması için web sitesi.
                                </p>
                            </div>
                        </div>
                        <div class="box2">
                            <div class="Introduction-main--text">
                                <h3>
                                    Dijital Pazarlama
                                </h3>
                                <p>
                                    Web sitenizin veya işletmenizin, daha popüler hale gelmesi için çeşitli hizmetler sunuyoruz.
                                </p>
                            </div>
                        </div>
                        <div class="box3">
                            <div class="Introduction-main--text">
                                <h3>
                                    Prodüksiyon
                                </h3>
                                <p>
                                    İşletmenizin tanıtımının daha güzel hale gelmesi için, fotoğraf çekimi ve prodüksiyon yapıyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>

        <!-- layout Share infomation -->
        <div class="Share">
            <div class="Introduce">
                <span>Neler <span class="text-blue">Yapıyoruz?</span></span>
                <h2>Öğreniyoruz, sizinle paylaşıyoruz.</h2>
                <p>Alanında uzman yazar arkadaşlarımızın, bilgi paylaşımı yaptıkları yazıları inceleyelim.</p>
            </div>

            <div class="Share--nav">
                <ul>
                    <li>
                        <p>Hepsini Gör</p>
                    </li>
                    <li>
                        <p>Web Tasarım</p>
                    </li>
                    <li>
                        <p>Kurumsal Kimlik Tasarımı</p>
                    </li>
                    <li>
                        <p>SEO</p>
                    </li>
                    <li>
                        <p>Dijital Pazarlama</p>
                    </li>
                </ul>
            </div>
        </div>
     </div>

    
</main>